/* Container width =========================================================================================================== */

/* Padding =========================================================================================================== */

/* Text =========================================================================================================== */

/* Animations =========================================================================================================== */

/* Header =========================================================================================================== */

/* Border radius =========================================================================================================== */

@font-face {
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/stratosskyengweb-regular.woff2") format("woff2"), url("../fonts/stratosskyengweb-regular.woff") format("woff");
}

@font-face {
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/stratosskyengweb-medium.woff2") format("woff2"), url("../fonts/stratosskyengweb-medium.woff") format("woff");
}

@font-face {
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/stratosskyengweb-semibold.woff2") format("woff2"), url("../fonts/stratosskyengweb-semibold.woff") format("woff");
}

@font-face {
  font-family: "StratosSkyeng";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/stratosskyengweb-italic.woff2") format("woff2"), url("../fonts/stratosskyengweb-italic.woff") format("woff");
}

@font-face {
  font-family: "StratosSkyeng";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/stratosskyengweb-italic.woff2") format("woff2"), url("../fonts/stratosskyengweb-italic.woff") format("woff");
}

@font-face {
  font-family: "StratosSkyeng";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/stratosskyengweb-semibolditalic.woff2") format("woff2"), url("../fonts/stratosskyengweb-semibolditalic.woff") format("woff");
}

@-webkit-keyframes animate-sticker {
  0% {
    transform: scale(5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animate-sticker {
  0% {
    transform: scale(5);
  }

  100% {
    transform: scale(1);
  }
}

.animate-sticker {
  -webkit-animation: animate-sticker 250ms;
          animation: animate-sticker 250ms;
}

@-webkit-keyframes animate-desktop-book-arrow {
  from {
    stroke: url(#gradient1);
    stroke-dashoffset: 3770;
    stroke-width: 128;
  }

  65% {
    -webkit-animation-timing-function: step-end;
            animation-timing-function: step-end;
    stroke: url(#gradient1);
    stroke-dashoffset: 0;
    stroke-width: 128;
  }

  to {
    stroke: url(#gradient1);
    stroke-width: 3514;
  }
}

@keyframes animate-desktop-book-arrow {
  from {
    stroke: url(#gradient1);
    stroke-dashoffset: 3770;
    stroke-width: 128;
  }

  65% {
    -webkit-animation-timing-function: step-end;
            animation-timing-function: step-end;
    stroke: url(#gradient1);
    stroke-dashoffset: 0;
    stroke-width: 128;
  }

  to {
    stroke: url(#gradient1);
    stroke-width: 3514;
  }
}

.animate-desktop-book-arrow {
  -webkit-animation: animate-desktop-book-arrow 1.2s both;
          animation: animate-desktop-book-arrow 1.2s both;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes animate-mobile-book-arrow {
  from {
    stroke: url(#gradient2);
    stroke-dashoffset: 953;
    stroke-width: 128;
  }

  65% {
    -webkit-animation-timing-function: step-end;
            animation-timing-function: step-end;
    stroke: url(#gradient2);
    stroke-dashoffset: 0;
    stroke-width: 18;
  }

  to {
    stroke: url(#gradient2);
    stroke-width: 697;
  }
}

@keyframes animate-mobile-book-arrow {
  from {
    stroke: url(#gradient2);
    stroke-dashoffset: 953;
    stroke-width: 128;
  }

  65% {
    -webkit-animation-timing-function: step-end;
            animation-timing-function: step-end;
    stroke: url(#gradient2);
    stroke-dashoffset: 0;
    stroke-width: 18;
  }

  to {
    stroke: url(#gradient2);
    stroke-width: 697;
  }
}

.animate-mobile-book-arrow {
  -webkit-animation: animate-mobile-book-arrow 1.2s both;
          animation: animate-mobile-book-arrow 1.2s both;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes animate-desktop-game-arrow {
  from {
    stroke: #5AC4FA;
    stroke-dashoffset: 2115;
    stroke-width: 128;
  }

  65% {
    -webkit-animation-timing-function: step-end;
            animation-timing-function: step-end;
    stroke: #5AC4FA;
    stroke-dashoffset: 0;
    stroke-width: 58;
  }

  to {
    stroke: #5AC4FA;
    stroke-width: 1859;
  }
}

@keyframes animate-desktop-game-arrow {
  from {
    stroke: #5AC4FA;
    stroke-dashoffset: 2115;
    stroke-width: 128;
  }

  65% {
    -webkit-animation-timing-function: step-end;
            animation-timing-function: step-end;
    stroke: #5AC4FA;
    stroke-dashoffset: 0;
    stroke-width: 58;
  }

  to {
    stroke: #5AC4FA;
    stroke-width: 1859;
  }
}

.animate-desktop-game-arrow {
  -webkit-animation: animate-desktop-game-arrow 1.2s both;
          animation: animate-desktop-game-arrow 1.2s both;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes animate-mobile-game-arrow {
  from {
    stroke: url(#gradient3);
    stroke-dashoffset: 2115;
    stroke-width: 128;
  }

  65% {
    -webkit-animation-timing-function: step-end;
            animation-timing-function: step-end;
    stroke: url(#gradient3);
    stroke-dashoffset: 0;
    stroke-width: 18;
  }

  to {
    stroke: url(#gradient3);
    stroke-width: 1859;
  }
}

@keyframes animate-mobile-game-arrow {
  from {
    stroke: url(#gradient3);
    stroke-dashoffset: 2115;
    stroke-width: 128;
  }

  65% {
    -webkit-animation-timing-function: step-end;
            animation-timing-function: step-end;
    stroke: url(#gradient3);
    stroke-dashoffset: 0;
    stroke-width: 18;
  }

  to {
    stroke: url(#gradient3);
    stroke-width: 1859;
  }
}

.animate-mobile-game-arrow {
  -webkit-animation: animate-mobile-game-arrow 1.2s both;
          animation: animate-mobile-game-arrow 1.2s both;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 32px;
  scroll-behavior: smooth;
}

body {
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "StratosSkyeng", sans-serif;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  overflow-x: hidden;
}

[hidden] {
  display: none;
}

picture img {
  display: inherit;
  width: 100%;
}

img {
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
  border-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

._container {
  width: 100%;
  max-width: 1356px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
}

.main-block {
  padding-top: calc(56px - 6px);
}

.logo {
  display: inline-block;
  width: 125px;
}

.title {
  font-size: 1rem;
  line-height: 1.1875rem;
  margin-bottom: 16px;
}

.invisible {
  opacity: 0;
}

.scroll-to {
  cursor: pointer;
}

.blue-btn {
  display: inline-block;
  cursor: pointer;
  color: #00C1FF;
  font-family: inherit;
  background-color: transparent;
  text-align: left;
}

.sticker {
  opacity: 0;
  transition: opacity 250ms ease;
  position: relative;
  display: inline-flex;
}

.sticker__text {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: #fff;
}

.sticker-1.animate-sticker {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.sticker-1__back {
  -webkit-clip-path: url(#sticker-1);
          clip-path: url(#sticker-1);
  height: 61px;
  width: 114px;
  background-color: rgba(0, 193, 255, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.sticker-2.animate-sticker {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.sticker-2__back {
  -webkit-clip-path: url(#sticker-2);
          clip-path: url(#sticker-2);
  height: 74px;
  width: 267px;
  background-color: rgba(252, 222, 0, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.sticker-3__back {
  -webkit-clip-path: url(#sticker-3);
          clip-path: url(#sticker-3);
  height: 74px;
  width: 286px;
  background-color: #40E687;
}

.sticker-3.animate-sticker {
  opacity: 1;
}

.header {
  height: calc(56px - 6px);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 101;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__block {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-left: 44px;
  display: none;
}

.header__link {
  margin-left: 4px;
  font-size: 0.5625rem;
  line-height: 0.75rem;
  text-decoration: none;
  color: #000;
}

.header__link--hide-on-tablet {
  display: none;
}

.header__logo {
  display: inline-block;
  width: 125px;
}

.nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__item {
  list-style: none;
  font-size: 0.5625rem;
  line-height: 0.75rem;
  margin-right: 25px;
}

.nav__link {
  text-decoration: none;
  color: #000;
}

.nav__link-icon {
  width: 8px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
}

.banner-section {
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 50px;
  position: relative;
}

.banner-section__title {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.banner-section__sticker-1 {
  position: absolute;
  transform: rotate(-14.84deg);
  top: 43%;
  left: 60%;
}

.banner-section__sticker-2 {
  position: absolute;
  transform: rotate(6.74deg);
  top: 92%;
  left: 23%;
}

.advantages-section {
  padding-top: 12px;
  padding-bottom: 20px;
  position: relative;
}

.advantages-section__block {
  min-height: 132px;
  margin-bottom: 16px;
}

.advantages-section__book {
  margin-top: 22px;
}

.advantage-block {
  border-radius: calc(24px - 4px);
  position: relative;
  background-repeat: no-repeat;
  padding: 12px 17% 20px 21px;
  background-position: calc(100% + 60px) center;
  display: flex;
  align-items: center;
  background-size: contain;
}

.advantage-block__title {
  font-size: 0.75rem;
  line-height: 0.9375rem;
}

.advantage-block:nth-child(1) {
  background-color: #DBFFE9;
  color: #00A665;
}

.advantage-block:nth-child(2) {
  background-color: #E4FBFF;
  color: #0080C1;
}

.advantage-block:nth-child(3) {
  background-color: #FFF4C5;
  color: #FF9E00;
}

.book-lesson-scroll-block {
  position: relative;
}

.book-lesson-scroll-block__btn {
  margin-left: 6%;
}

.book-lesson-scroll-block__desktop-animation-block {
  position: absolute;
  width: 78%;
  bottom: -22%;
  left: -4%;
  max-width: 270px;
}

.book-lesson-scroll-block__back-blur {
  position: absolute;
  left: 13%;
  top: 2px;
  width: 63%;
  height: 26%;
  background-color: rgba(255, 255, 255, 0.01);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-clip-path: url(#free-lesson-block-mobile-back);
          clip-path: url(#free-lesson-block-mobile-back);
}

.book-lesson-scroll-block__desktop-arrow {
  display: none;
}

.book-lesson-scroll-block svg {
  width: 100%;
  height: 100%;
}

.tabs-section {
  padding-top: 45px;
  padding-bottom: 20px;
  position: relative;
}

.tabs__btns {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  align-items: baseline;
}

.tabs__btn {
  padding: 0 16px;
  height: 48px;
  line-height: 48px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 40px;
  color: rgba(0, 0, 0, 0.48);
  background-color: transparent;
  cursor: pointer;
  font-size: 0.75rem;
  margin-bottom: 12px;
  transition: all 250ms linear;
  white-space: nowrap;
}

.tabs__btn:hover {
  border-color: rgba(0, 0, 0, 0.48);
}

.tabs__btn:active,
.tabs__btn--active {
  border-color: #00C1FF;
  background-color: #00C1FF;
  color: #fff;
}

.tabs__btn--active:hover {
  border-color: #00C1FF;
}

.tabs__content {
  display: none;
}

.tabs__content--active {
  display: block;
}

.video {
  border-radius: 24px;
  overflow: hidden;
  height: 80vh;
  max-height: 343px;
  position: relative;
}

.video__item {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.video__btn {
  position: absolute;
  top: 13px;
  left: 12px;
}

.video-btn {
  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms linear;
}

.video-btn:hover {
  background-color: #fff;
}

.video-btn__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 250ms linear;
}

.video-btn__icon--on {
  opacity: 0;
  width: 17px;
  height: 17px;
}

.video-btn__icon--off {
  width: 20px;
  height: 20px;
}

.video-btn--off .video-btn__icon--off {
  opacity: 1;
}

.video-btn--on .video-btn__icon--off {
  opacity: 0;
}

.video-btn--on .video-btn__icon--on {
  opacity: 1;
}

.game {
  padding-bottom: 75px;
  padding-top: 60px;
}

.game__container {
  display: flex;
  flex-direction: column;
}

.game__desktop-title {
  display: none;
}

.game-img {
  position: relative;
  text-align: center;
  margin: 20px auto 0 auto;
  max-width: 60vw;
}

.game-img__person {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  z-index: 1;
  position: relative;
}

.game-img__shadow {
  position: absolute;
  bottom: -3%;
  left: 44%;
  transform: translateX(-50%);
  width: 84%;
}

.game-img__pizza-place {
  position: absolute;
  top: 58%;
  right: -8%;
  transform: translateY(-50%);
  z-index: 2;
  width: 102px;
  height: 102px;
}

.game-img__mobile-arrow {
  position: absolute;
  right: -20%;
  width: 87vw;
  top: -4%;
}

.game-info {
  position: relative;
}

.game-info__animation {
  position: relative;
}

.game-info__sticker {
  transform: rotate(-6.9deg);
  position: relative;
  z-index: 1;
  padding-left: 10%;
}

.game-info__desktop-arrow {
  position: absolute;
  left: -8%;
  width: 75%;
  top: 5%;
  display: none;
}

.game-info__pizza {
  position: absolute;
  top: -152%;
  left: -9px;
  width: 102px;
  height: 102px;
}

.footer {
  padding-bottom: 36px;
}

.footer__block {
  display: flex;
  align-items: center;
}

.footer__link {
  opacity: 0.52;
  font-size: 0.625rem;
  line-height: 0.8125rem;
  text-decoration: none;
  color: #000;
  margin-top: 15px;
}

.footer__copyright {
  font-size: 0.625rem;
  line-height: 0.8125rem;
  margin-left: 10px;
}

@media (min-width: 576px) {
  .sticker-1__back {
    height: 84px;
    width: 140px;
  }

  .sticker-2__back {
    height: 100px;
    width: 390px;
  }

  .sticker-3__back {
    height: 104px;
    width: 400px;
  }

  .header {
    height: 56px;
  }

  .banner-section__title {
    font-size: 2.5625rem;
    line-height: 2.5625rem;
  }
}

@media (min-width: 960px) {
  body {
    font-size: 1rem;
    line-height: 1.1875rem;
  }

  .main-block {
    padding-top: 56px;
  }

  .title {
    font-size: 2rem;
    line-height: 2.1875rem;
    margin-bottom: 48px;
  }

  .sticker__text {
    font-size: 2.6875rem;
    line-height: 2.6875rem;
  }

  .sticker-1__back {
    height: 123px;
    width: 227px;
  }

  .sticker-2__back {
    height: 148px;
    width: 530px;
  }

  .sticker-3__back {
    height: 154px;
    width: 600px;
  }

  .header__nav {
    display: block;
  }

  .header__link {
    padding-left: 12px;
    padding-right: 12px;
  }

  .header__link--hide-on-desktop {
    display: none;
  }

  .header__link--hide-on-tablet {
    display: inline;
  }

  .banner-section {
    padding-top: 45px;
    padding-bottom: 80px;
  }

  .banner-section__title {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -4px;
  }

  .advantages-section {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .advantages-section__container {
    display: flex;
    justify-content: space-between;
  }

  .advantages-section__block {
    width: calc(33.3% - 16px);
    min-height: initial;
    margin-bottom: 0;
  }

  .advantages-section__book {
    text-align: right;
    margin-top: 30px;
  }

  .advantage-block {
    background-position: center bottom;
    border-radius: 24px;
    padding: 0;
  }

  .advantage-block:before {
    padding-top: 100%;
    content: "";
    display: block;
  }

  .advantage-block__title {
    position: absolute;
    top: 20px;
    left: 28px;
    right: 28px;
  }

  .book-lesson-scroll-block__btn {
    width: 30%;
    margin-left: auto;
  }

  .book-lesson-scroll-block__desktop-animation-block {
    width: 78%;
    bottom: -73%;
    left: -9%;
    max-width: initial;
  }

  .book-lesson-scroll-block__back-blur {
    left: -4px;
    bottom: 0;
    top: -33px;
    width: 64%;
    height: 100%;
    -webkit-clip-path: url(#free-lesson-block-desktop-back);
            clip-path: url(#free-lesson-block-desktop-back);
  }

  .book-lesson-scroll-block__desktop-arrow {
    display: block;
  }

  .book-lesson-scroll-block__mobile-arrow {
    display: none;
  }

  .tabs-section {
    padding-bottom: 45px;
  }

  .tabs__btns {
    flex-direction: row;
    margin-bottom: 30px;
  }

  .tabs__btn {
    height: 72px;
    margin-right: 16px;
    margin-bottom: 0;
    line-height: 7px;
    font-size: 1rem;
    padding: 0 24px;
  }

  .video {
    max-height: 548px;
  }

  .video__btn {
    top: 24px;
    left: 24px;
  }

  .video-btn {
    width: 72px;
    height: 72px;
  }

  .video-btn__icon--on {
    width: 28px;
    height: 28px;
  }

  .video-btn__icon--off {
    width: 32px;
    height: 32px;
  }

  .game {
    max-height: initial;
    padding-bottom: 115px;
    padding-top: 100px;
  }

  .game__container {
    justify-content: space-between;
    flex-direction: row;
  }

  .game__mobile-title {
    display: none;
  }

  .game__desktop-title {
    display: block;
    margin-left: 17px;
  }

  .game-img {
    width: 36%;
    text-align: left;
    margin: 0;
    max-width: initial;
  }

  .game-img__shadow {
    max-width: initial;
  }

  .game-img__pizza-place {
    width: 176px;
    height: 176px;
  }

  .game-img__mobile-arrow {
    display: none;
  }

  .game-info {
    padding-top: 32px;
    width: 59%;
  }

  .game-info__animation {
    padding-top: 13px;
  }

  .game-info__sticker {
    padding-left: 0;
  }

  .game-info__desktop-arrow {
    display: block;
  }

  .game-info__pizza {
    width: 176px;
    height: 176px;
  }

  .game-info__pizza {
    top: 78%;
    right: 15%;
    left: auto;
  }

  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer__link {
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 0;
  }

  .footer__copyright {
    margin-left: 15px;
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@media (min-width: 1200px) {
  ._container {
    padding-left: calc(16px * 7 - 10px);
    padding-right: calc(16px * 7 - 10px);
  }

  .logo {
    width: 164px;
  }

  .header__logo {
    width: 164px;
  }

  .banner-section__title {
    font-size: 4.625rem;
    line-height: 4.625rem;
  }

  .banner-section__sticker-1 {
    top: 74%;
    left: 46%;
  }

  .banner-section__sticker-2 {
    top: 45%;
    left: 51%;
    transform: rotate(12.34deg);
  }

  .advantage-block__title {
    font-size: 1rem;
    line-height: 1.1875rem;
  }

  .video {
    max-height: 648px;
  }
}